.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.clearAll {
  all: initial;
}

.clippedArea {
  height: 100%;
  width: calc(100% - 250px);
  margin-left: 250px;
}

#loginCanvas {
  width:100%;
  height:100%;
  overflow: hidden;
  background-color: #fff;
  cursor: ns-resize;
  outline:0;
  margin: 0;
  padding: 0;
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}